*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Rajdhani", sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

header {
    background-image: url(./images/banner-background-one.jpg);
    height: 130vh;
    background-size: cover;
    
}
.header{
    display: flex;
}


.logo{
    display: flex;
    padding-top: 30px;
    padding-left: 40px;
    font-size: 3.5rem;
    color: beige;
    cursor: pointer;

}


.logo span {
    padding-top: 20px;
    margin: 0;
    animation: wave 2s ease-in-out infinite;
    font-weight: bold;
}

.logo span:nth-child(1) {
    animation-delay: 0s;
}
.logo span:nth-child(2) {
    animation-delay: 0.2s;
}
.logo span:nth-child(3) {
    animation-delay: 0.4s;
}
.logo span:nth-child(4) {
    animation-delay: 0.6s;
}

@keyframes wave {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}


.half{
    width: 50%;
}
.header ul{
    display: flex;
    color: beige;
    padding: 30px;
    margin-left: 100px;
    align-items: center;
    justify-content: end;
    gap: 50px;
    list-style: none;
    font-size: 17px;
}
.header .icons{
    font-size: 24px;
    text-align: center;
    padding: 30px;
    margin: 20px;
    color: beige;
    cursor: pointer;

}
.header .icons i{
    margin-inline: 10px;
}

.header .icons i:hover{
    color: #FF014F;
    transition:  0.3s ease-in-out;
    transform: translateY(-7px);
    font-size: 2.2rem;

}

.auto-types{
    font-weight: 800;
    font-size: 3rem;
}

.header li{
    padding: 10px;
}
.header li:hover{
    background-color: #270D15;
    cursor: pointer;
    color: #FF014F;
    transition:  0.3s ease-in-out;

}
.btn-w{
    margin-left: 15px;
    padding: 12px 25px;
    border-radius: 30px;
    border: 3px solid white;
    font-size: 17px;
    font-weight: 500;
    color: beige  ;
    background-color:  #FF014F;
    background: transparent; 
    position: relative;
    z-index: 2;
    overflow: hidden;
    cursor: pointer;
}
.btn-w::after{
    content: "";
    position: absolute;
    background:  #5c1f32; 
    transition: 0.3s ease-in;
    height: 100%;
    border-radius: 30px;
    left: 0;
    top: 0;
    width: 0%;
    z-index: -2;
    
}
.btn-w:hover::after{
    width: 100%;
 
   
}
.hero{
    display: flex;
}

.hero1 h2{
    color: beige;
    margin: 150px 0px 10px 50px;
    font-size: 32px;
}
.hero1 h1{
    color: beige;
    margin-left: 50px;
    font-size: 3rem;
}
span{
   color: #FF014F;
    font-size: 3rem;
    margin-left: 50px;
}

.hero1 p{
    color: beige;
    margin-left: 50px;
    padding-top: 20px;
    font-size: 19px;
    line-height: 40px;
}

.hero1 button{
    padding: 15px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
    background: #FF014F;
    color: beige;
    border-radius: 50px;
    margin-left: 50px;

}
.hero2{
    position: relative;
}
.hero2 >img {
width: 100%;
position: absolute;
z-index: 2;
}

.hero2 h1{
    position: absolute;
    color: beige ;
    padding-top: 60px;
    padding-left: 60px;
    font-size: 3.5rem;
    z-index: 1;
    animation: animi linear 2s infinite both alternate;
 

}

.hero2 h2{
    position: absolute;
    -webkit-text-stroke: 1px beige;
    -webkit-text-fill-color: transparent;
    padding-top: 450px;
    padding-left: 100px;
    font-size: 3.5rem;
    z-index: 3;
    animation: animi linear 2s infinite both alternate;
 

}

@keyframes animi{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(20px);
    }
       }


.cards{
    height: 100vh;
    display: flex;
    background: #060606;
}
.cards .card{
    position: relative;
    top: 100px;
    margin-left: 30px;
    height: 60%;
    width: 30%;
    border: 1px solid red;
    border-radius: 30px;
}
.card i{
    color: #FF014F;
    font-size: 5rem;
    text-align: center;
    justify-content: center;
    margin-top: 100px;
    margin-left: 150px;
}
.card h4{
    position: relative;
    color: beige;
    font-size: 29px;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    cursor: pointer;
}

.card p{
    color: lightgray;
    font-size: 19px;
    font-weight: 100;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
}
.card h4:hover{
    color: #FF014F;
    transition-delay: 0.1s;
    transition: 0.6s;
}

.card h4:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
}
.card h4::after {
    content: "";
    position: absolute;
    margin-left:100px ;
    width: 45%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color:#FF014F;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s;
}